* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100;
    
}

.minha-clase {
    background-color: coral;
    height: 100px;
    width: 100px;
}